<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
    
    <div class="container-fluid">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="/"><img
              width="auto"
              alt="Angular Logo"
              src="/assets/images/logo-HFK.svg"
             class="d-inline-block "
              /></a>
          </li>
        </ul>  
    </div>
    <div class="icon-back">
        <a href="../">
            <i class="fa-solid fa-angle-left fa-2x HFK-secondary"></i>
        </a>
        
    </div>
    <div class="icon-off">
        <a href="#">
            <i class="fa-solid fa-power-off fa-2x HFK-secondary"></i>
        </a>
    </div>
</nav>
<div class="HFK-TitleBar">
    <br>
    <div class="HFK-box-title HFK-TitleBar">
        <h6><b>PORFOLIO LOAN</b></h6>
    </div>
</div>

<div class="container-fluid-porfolio">
    <div class="HFK-box-icon">
    </div>
    <div class="HFK-box-text"> 
      <div class="HFK-title-Card">
        <h4>Portfolio Loan Pl 00</h4>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="HFK-Amount-Card">
            <span>Amount</span>
          </div>
          <div class="HFK-price-Card">
            <span>$000.000.000.00</span>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="HFK-Amount-Card">
            <span>Invesmet date</span>
          </div>
          <div class="HFK-price-Card">
            <span>00-00-0000</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="HFK-Amount-Card">
            <span>Monthly installemet</span>
          </div>
          <div class="HFK-price-Card">
            <span>$0.000.00</span>
          </div>
        </div>
      </div>
      <div class="HFK-link-Card">
        <a href="/Portfolio-Load/0/Documentation"><i class="fa-regular fa-file-lines fa-2x"></i></a>
        &nbsp;&nbsp;
        <a href="/Portfolio-Load/0/Details"><i class="fa-regular fa-eye fa-2x"></i></a>
      </div>
    </div>
    <hr/>
  </div>

    <div class="container-fluid-porfolio">
      <div class="HFK-box-icon">
      </div>
      <div class="HFK-box-text"> 
        <div class="HFK-title-Card">
          <h4>Portfolio Loan Pl 01</h4>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="HFK-Amount-Card">
              <span>Amount</span>
            </div>
            <div class="HFK-price-Card">
              <span>$000.000.000.00</span>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="HFK-Amount-Card">
              <span>Invesmet date</span>
            </div>
            <div class="HFK-price-Card">
              <span>00-00-0000</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="HFK-Amount-Card">
              <span>Monthly installemet</span>
            </div>
            <div class="HFK-price-Card">
              <span>$0.000.00</span>
            </div>
          </div>
        </div>
        <div class="HFK-link-Card">
          <a href="/Portfolio-Load/1/Documentation"><i class="fa-regular fa-file-lines fa-2x"></i></a>
          &nbsp;&nbsp;
          <a href="/Portfolio-Load/1/Details"><i class="fa-regular fa-eye fa-2x"></i></a>
        </div>
      </div>
      <hr/>
    </div>

      <div class="container-fluid-porfolio">
        <div class="HFK-box-icon">
        </div>
        <div class="HFK-box-text"> 
          <div class="HFK-title-Card">
            <h4>Portfolio Loan Pl 02</h4>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="HFK-Amount-Card">
                <span>Amount</span>
              </div>
              <div class="HFK-price-Card">
                <span>$000.000.000.00</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="HFK-Amount-Card">
                <span>Invesmet date</span>
              </div>
              <div class="HFK-price-Card">
                <span>00-00-0000</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="HFK-Amount-Card">
                <span>Monthly installemet</span>
              </div>
              <div class="HFK-price-Card">
                <span>$0.000.00</span>
              </div>
            </div>
          </div>
          <div class="HFK-link-Card">
            <a href="/Portfolio-Load/2/Documentation"><i class="fa-regular fa-file-lines fa-2x"></i></a>
            &nbsp;&nbsp;
            <a href="/Portfolio-Load/2/Details"><i class="fa-regular fa-eye fa-2x"></i></a>
          </div>
        </div>
        <hr/>
        </div>