 <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="#"><img
                  width="auto"
                  alt="Angular Logo"
                  src="/assets/images/logo-HFK.svg"
                 class="d-inline-block "
                  /></a>
              </li>
            </ul>
            
            
            
        </div>
        <div class="icon-off">
          <i class="fa-solid fa-power-off fs-3 HFK-secondary"></i>
        </div>
</nav>
<div class="HFK-TitleBar">
  <div class="container-fluid ">
    <h5 class="HFK-titles"><b>Welcome</b></h5>
    <h6 class="HFK-black"> MANGO SOFT INC.</h6>
  </div>
  <br>
  <div class="HFK-box-title HFK-TitleBar">
    <h6><b>YOUR PRODUCTS</b></h6>
  </div>
</div>


  <div class="container-fluid">
    <a href="#">
    <div class="HFK-box-icon">
      <i class="fa-solid fa-hands-holding fa-5x"></i>
    </div>
    <div class="HFK-box-text"> 
      <div class="HFK-title-Card">
        <h4>Portfolio Loan</h4>
      </div>
      <div class="HFK-Amount-Card">
        <span>Amount</span>
      </div>
      <div class="HFK-price-Card">
        <span>$000.000.000.00</span>
      </div>
      <div class="HFK-link-Card">
        <i class="fa-solid fa-angle-right fa-3x"></i>
      </div>
    </div>
  </a>
  </div>
  <div class="container-fluid">
    <a href="#">
    <div class="HFK-box-icon">
      <i class="fa-solid fa-database fa-5x"></i>
    </div>
    <div class="HFK-box-text"> 
      <div class="HFK-title-Card">
        <h4>Mortgage Loan</h4>
      </div>
      <div class="HFK-Amount-Card">
        <span>Mortgage</span>
      </div>
      <div class="HFK-price-Card">
        <span>7 Mortgage</span>
      </div>
      <div class="HFK-link-Card">
        <i class="fa-solid fa-angle-right fa-3x"></i>
      </div>
    </div>
  </a>
  </div>
  <div class="container-fluid">
    <a href="#">
    <div class="HFK-box-icon">
      <i class="fa-solid fa-house fa-5x"></i>
    </div>
    <div class="HFK-box-text"> 
      <div class="HFK-title-Card">
        <h4>DREI</h4>
      </div>
      <div class="HFK-Amount-Card">
        <span>Investment</span>
      </div>
      <div class="HFK-price-Card">
        <span>$000.000.000.00</span>
      </div>
      <div class="HFK-link-Card">
        <i class="fa-solid fa-angle-right fa-3x"></i>
      </div>
    </div>
  </a>
  </div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
