<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
    
    <div class="container-fluid">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="/"><img
              width="auto"
              alt="Angular Logo"
              src="/assets/images/logo-HFK.svg"
             class="d-inline-block "
              /></a>
          </li>
        </ul>  
    </div>
    <div class="icon-back">
        <a href="../">
            <i class="fa-solid fa-angle-left fa-2x HFK-secondary"></i>
        </a>
        
    </div>
    <div class="icon-off">
        <a href="#">
            <i class="fa-solid fa-power-off fa-2x HFK-secondary"></i>
        </a>
    </div>
</nav>
<div class="HFK-TitleBar">
    <br>
    <div class="HFK-box-title HFK-TitleBar">
        <h6><b>TRANSACTIONS</b></h6>
    </div>
</div>

